// 중첩
.container {
  ul {
    li {
      .name {
        color: royalblue;
      }
      .age {
        color: orange;
      }
    }
  }
}

// & - 상위 선택자 참조
.list {
  li {
    &:last-child {
      margin-right: 0px;
    }
  }
}

// 중첩된 속성
.box {
  font: {
    weight: bold;
    size: 10px;
    family: sans-serif;
  };
  margin: {
    top: 10px;
    left: 20px;
  };
  padding: {
    bottom: 40px;
    right: 30px;
  };
}

// 변수
$size : 200px;

.container {
  position: relative;
  top: $size;
  .item {
    width: $size;
    height: $size;
    transform: translateX($size);
  }
}