// 중첩
.container {
  ul {
    li {
      .name {
        color: royalblue;
      }
      .age {
        color: orange;
      }
    }
  }
}

// & - 상위 선택자 참조
.list {
  li {
    &:last-child {
      margin-right: 0px;
    }
  }
}

